@media (max-width: 500px) {
  .headerMenu {
    display: none;
  }
  .group-menu {
    width: 100%;
  }
  .sider-group-menu {
    display: none;
  }
  .list-group-content {
    margin: 6rem 0 0 0;
  }
  .group-detail-card {
    width: 100vw;
  }
}

@media (max-width: 300px) {
  .headerMenu {
    display: none;
  }
  .group-menu {
    width: 100%;
  }
  .sider-group-menu {
    display: none;
  }
  .list-group-content {
    margin: 6rem 0 0 0;
  }
  .group-detail-card {
    width: 100vw;
  }
}

@media (min-width: 500px) {
  .menuIcon {
    display: none;
  }
  .group-card {
    width: 400px;
  }
  .newGroupCard {
    width: 500px;
  }
  .list-group-content {
    margin: 0 0 0 13rem;
  }
  .group-menu {
    display: none;
  }
}

.top-nav-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
}

.body-content {
  margin-top: 3.5rem;
}

.owned-group-image {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.joined-group-image {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  margin-top: 1em;
}

.group-card {
  margin: 0.2em 1em 1em 1em;
  width: 24em;
  border: 1px solid black;
}

.group-card:hover {
  filter: brightness(120%);
}

.my-footer {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  color: white;
  width: 100%;
  left: 0;
  text-align: center;
  background: black;
  font-size: 18px;
}

.group-detail-card {
  width: 80vw;
}
